@font-face {
  font-family: tungsten;
  src: url(/static/fonts/Rain\ Tungsten\ Medium.ttf);
}

@font-face {
  font-family: arabiya;
  src: url(/static/fonts/AirArabia\ Normal\ Regular.ttf);
  /* unicode-range: U+0600–06FF, U+0750–077F, U+08A0–08FF, U+FB50–FDFF, U+FE70–FEFF, U+10E60–10E7F, U+1EC70–1ECBF, U+1ED00–1ED4F, U+1EE00–1EEFF; */
  unicode-range: U+0600-06FF;
}

html {
  background-color: #000;
  color: #eee;
  font-family: arabiya, -apple-system, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
  font-family: arabiya, tungsten;
}

a {
  color:#fff;
  text-decoration: none;
}

.main-title {
  font-family: arabiya, tungsten;
  font-size: 48px;
  text-align: center;
  width: 100%;
  letter-spacing: 4px;
}

.main-title span {
  background: linear-gradient(#ffffff, rgb(110, 110, 110) 38.24%, rgb(255, 255, 255) 43.28%, rgb(137, 137, 137) 47.06%, #ffffff);
  color: #fff; 
  display: inline;
  padding: 0.45rem;
  
  /* Needs prefixing */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.3px #eee;
}

.main-title[lang=ar] {
  letter-spacing: normal;
  font-weight: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  z-index: -10;
  opacity: 36%;
}

.menu {
  display: inline-block;
  margin: 0 auto;
  position: fixed;
  width: 100px;
  list-style-type: none;
  padding-left: 0px;
  right: 21px;
  top: 23px;
  padding-inline-start: 0px;
}

.menu > li > a {
  color: #fff;
  display: block;
  padding: 10px 5px 10px 0px;
  text-align: center;
  text-decoration: none;
}

.menu li ul {
  background: rgba(0,0,0,0.7);
  /* height: 0px; */
  /* right: -1000px; */
  /* opacity: 0; */
  position: fixed;
  padding-inline-start: 0px;
  padding: 10px;
  transition: all 0s;
  top: -1000px;
  list-style-type: none;
  /* display: none; */
}

.menu > li:hover > ul {
  /* display: inherit; */
  top: 61px;
  /* height: inherit; */
}

.menu > li > ul > li > a {
  padding: 10px 0px;
}

.menu > li > ul > li {
  opacity: 0.1;
  /* transform: rotateX(50deg); */
  padding-right: 19px;
  transition: all 1s ease;
  /* margin-left: 10px; */
}

.menu > li > ul > li:nth-child(1) {
  transition-delay: 0.1s;
}

.menu > li > ul > li:nth-child(2) {
  transition-delay: 0.2s;
}

.menu > li > ul > li:nth-child(3) {
  transition-delay: 0.3s;
}

.menu > li > ul > li:nth-child(4) {
  transition-delay: 0.4s;
}

.menu > li > ul > li:nth-child(5) {
  transition-delay: 0.5s;
}

.menu > li:hover > ul > li {
  opacity: 1;
  padding-top: 10px;
  /* transform: rotateX(0deg); */
  /* margin-left: 0px; */
  
  /* top: inherit; */
}

.menu ul a {
  color: #eee;
  display: block;
  padding: 5px 20px;
  text-decoration: none;
}

p {
    font-family: arabiya, -apple-system, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

button {
  background: rgba(0,0,0,0);
  color: #fff;
  padding: 20px 30px;
  border-radius: 5px;
  border: solid 1px #fff;
  font-size: 40px;
  font-family: arabiya, tungsten;
  letter-spacing: 4px;
  transition: background 2s, color 1s, zoom 2s;
  cursor:pointer;
}

button[lang=ar]{
  font-family: arabiya, tungsten;
  letter-spacing: normal;
}

button:hover {
  background: rgba(255,255,255,0.7);
  color: #333;
  padding: 20px 30px;
  border-radius: 5px;
  border: solid 1px #fff;
  font-size: 40px;
  font-family: arabiya, tungsten;
}

.section {
  padding: 30px 10px;
}

.section-left {
  display: inline-block;
  width:20%;
  min-width:100px;
  vertical-align: top;
  text-align: center;
}

.section-right {
  display: inline-block;
  width: 75%;
  max-width:calc(100% - 136px);
  vertical-align: top;
  padding-left: 18px;
}

.section-icon {
  /* color: #97dbdb; */
  font-size: 80px;
  padding-right: 5px;
  text-align: center;
}

.image-list-3 {
  text-align: center;
}

.image-list-3 > img {
  padding: 10px;
  width: 25%;
  transition: all 500ms;
  filter: grayscale(70%);
  min-width: 250px;
}

.image-list-3 > img:hover {
  width: 30%;
  filter: grayscale(0%);
  min-width: 280px;
}

.row {
  z-index: 1;
}

footer {
  text-align: center;
  padding-top:40px;
}

footer > span.social-media {
  font-size: 24px;
}

footer > span.social-media > i {
  padding: 24px;
  transition: all 500ms;
}

footer > span.social-media > i:hover {
  font-size: 32px;
  padding: 18px;
}